In [7]:
pip install pandas

Requirement already satisfied: pandas in c:\users\charan\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\charan\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\charan\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\charan\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\charan\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\charan\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot  as plt
from scipy import stats

In [9]:
data = pd.read_csv(r"C:\Users\CHARAN\Downloads\Cutlets.csv")

In [10]:
data

    Unit A  Unit B
0   6.8090  6.7703
1   6.4376  7.5093
2   6.9157  6.7300
3   7.3012  6.7878
4   7.4488  7.1522
5   7.3871  6.8110
6   6.8755  7.2212
7   7.0621  6.6606
8   6.6840  7.2402
9   6.8236  7.0503
10  7.3930  6.8810
11  7.5169  7.4059
12  6.9246  6.7652
13  6.9256  6.0380
14  6.5797  7.1581
15  6.8394  7.0240
16  6.5970  6.6672
17  7.2705  7.4314
18  7.2828  7.3070
19  7.3495  6.7478
20  6.9438  6.8889
21  7.1560  7.4220
22  6.5341  6.5217
23  7.2854  7.1688
24  6.9952  6.7594
25  6.8568  6.9399
26  7.2163  7.0133
27  6.6801  6.9182
28  6.9431  6.3346
29  7.0852  7.5459
30  6.7794  7.0992
31  7.2783  7.1180
32  7.1561  6.6965
33  7.3943  6.5780
34  6.9405  7.3875

In [11]:
data.shape

(35, 2)

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Unit A  35 non-null     float64
 1   Unit B  35 non-null     float64
dtypes: float64(2)
memory usage: 692.0 bytes

In [13]:
print(data.columns)

Index(['Unit A', 'Unit B'], dtype='object')

In [14]:
Zcal ,Pvalue = stats.ttest_ind (data["Unit A"] , data["Unit B"])

In [15]:
print("Z calculated values:", Zcal.round(4), "Pvalue:", Pvalue.round(4))

Z calculated values: 0.7229 Pvalue: 0.4722

In [16]:
alpha = 0.05
if Pvalue < alpha : print("inferences :\n there is a significant difference in the diameter of the cutlet between two units.")
else :print("Inference :\n there is no significant difference in the diameter of the cutlet between two units.")

Inference :
 there is no significant difference in the diameter of the cutlet between two units.

# 2Q

In [17]:
df = pd.read_csv (r"C:\Users\CHARAN\Downloads\LabTAT.csv")

In [18]:
df

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [19]:
print(df.columns)

Index(['Laboratory 1', 'Laboratory 2', 'Laboratory 3', 'Laboratory 4'], dtype='object')

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laboratory 1  120 non-null    float64
 1   Laboratory 2  120 non-null    float64
 2   Laboratory 3  120 non-null    float64
 3   Laboratory 4  120 non-null    float64
dtypes: float64(4)
memory usage: 3.9 KB

In [21]:
lab1 = df["Laboratory 1"]
lab2 = df["Laboratory 2"] 
lab3 = df["Laboratory 3"]
lab4 = df["Laboratory 4"]

In [22]:
#from scipy import stats

Fcal, Pvalue = stats.f_oneway(lab1, lab2, lab3, lab4)

In [23]:
print(Fcal,Pvalue)

118.70421654401437 2.1156708949992414e-57

In [24]:
print(round(Fcal, 4), round(Pvalue, 4))

118.7042 0.0

In [25]:
alpha = 0.05
if Pvalue < alpha:
    print("Inference:\nThere is a significant difference in average TAT among the different laboratories.")
else:
    print("Inference:\nThere is no significant difference in average TAT among the different laboratories.")

Inference:
There is a significant difference in average TAT among the different laboratories.

# Q3

In [26]:
df3 = pd.read_csv(r"C:\Users\CHARAN\Downloads\BuyerRatio (1).csv")

In [28]:
df3

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [29]:
obs = np.array([[50,142,131,70],[435,1523,1356,750]])

In [35]:
from scipy.stats import chi2_contingency 

X = chi2_contingency(obs)

In [45]:
print(Pvalue)

0.6603094907091882

In [60]:

if Pvalue < 0.5:
    print("INFERENCE: \n There is evidence of a significant difference in male-female buyer ratios across regions.")
else:
        print("INFERENCE: \n There is evidence of a no significant difference in male-female buyers ratios across regions.")

INFERENCE:
 There is evidence of a no significant difference in male-female buyers ratios across regions.

# 4Q

In [61]:
df4 = pd.read_csv(r"C:\Users\CHARAN\Downloads\Costomer+OrderForm (1).csv")

In [63]:
df4

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [67]:
T = pd.crosstab(df4["Phillippines"],
                [df4["Indonesia"],
                df4["Malta"],
                df4["India"]])

In [68]:
chi2,P_value,dof,excepted = chi2_contingency(T)
P_value

0.6845505149379718

In [69]:
if Pvalue < 0.5:
    print("INFERENCE: \n There is a evidence of significant difference between the center and defective percentage.")
else:
    print ("INFERENCE: \n There is no evidence of significant difference between the center and defectie percentage.")

INFERENCE:
 There is no evidence of significant difference between the center and defectie percentage.